@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #9e624c;
  --background: #fff8f5;
  --TXT: #28221e;
  --secondary: #f2e5da;
  --stroke: #e9e9e8;
  --dark: #1a1613;
  --LightSecondary: #fff8f5;
  --bannerBackground: #fff8f5;
  --adminDrawerBg: #dac4b5;
  --adminDrawerText: #28221e;
  --adminDrawerHoverBg: #f2e5da;
  --adminDrawerHoverText: #1a1613;
  --adminDrawerActiveBg: #9e624c20;
  --adminDrawerActiveBorder: #9e624c;
  --adminDrawerActiveText: #9e624c;
}

@layer base {
  h1 {
    @apply text-[2rem] font-bold;
  }

  h2 {
    @apply text-[1.75rem] font-semibold;
  }

  h3 {
    @apply text-[1.5rem] font-semibold;
  }

  h4 {
    @apply text-[1.25rem] font-medium;
  }

  h5 {
    @apply text-[1rem] font-medium;
  }

  h6 {
    @apply text-[0.75rem] font-medium;
  }
}

@font-face {
  font-family: "Vazir";
  src: url("/font/Vazir-FD.woff2") format("woff2"),
    url("/font/Vazir-FD.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazir", sans-serif;
  background-color: var(--background);
  width: 100%;
  height: 100%;
}
